@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap');

:root {
  --background-light-primary: #ffffff;
  --background-light-secondary: #f9f9f9;
  --background-light-tertiary: #e0e0e0;
  --typography-light: #000000;

  --background-dark-primary: #1f1f1f;
  --background-dark-secondary: #252526;
  --background-dark-tertiary: #3b3b3c;
  --typography-dark: #ffffff;
}

html {
  height: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  overflow: auto;
}

.page {
  position: absolute;
  right: 0;
  padding: 0px 30px;
  width: calc(100% - 260px - 60px);
  min-height: 100vh;
}
.page-light {
  color: var(--typography-light);
  background-color: var(--background-light-primary);
}
.page-dark {
  color: var(--typography-dark);
  background-color: var(--background-dark-primary);
}
