.collection-title {
  font-size: 2em;
  margin-top: 25px;
  margin-bottom: 15px;
}

.collection-hr-light {
  border-color: #000000;
}
.collection-hr-dark {
  border-color: #ffffff;
}

.collection-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.collection-card {
  height: 255px;
}
