.Create {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 20px;
  width: calc(100% - 40px);
  height: 100vh;
}
.Create-light {
  color: var(--typography-light);
  background-color: var(--background-light-primary);
}
.Create-dark {
  color: var(--typography-dark);
  background-color: var(--background-dark-primary);
}

.create-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 0px;
  padding: 40px 0px calc(40px + 30px) 0px;
  width: 800px;
  border-radius: 10px;
}
.create-form-light {
  color: var(--typography-light);
  background-color: var(--background-light-secondary);
  border: 1px solid var(--background-light-tertiary);
}
.create-form-dark {
  color: var(--typography-dark);
  background-color: var(--background-dark-secondary);
  border: 1px solid var(--background-dark-tertiary);
}

.create-form-logo {
  font-size: 2.3em;
  font-family: 'Grape Nuts', cursive;
}

.create-form-input {
  margin-bottom: 15px;
  padding: 0px 15px;
  width: calc(90% - 30px);
  height: 40px;
  border-radius: 5px;
}
.create-form-input-light {
  color: var(--typography-light);
  background-color: var(--background-light-primary);
  border: 1px solid var(--background-light-tertiary);
}
.create-form-input-dark {
  color: var(--typography-dark);
  background-color: var(--background-dark-primary);
  border: 1px solid var(--background-dark-tertiary);
}
.create-form-input-light:focus {
  outline: none !important;
  border: 1px solid var(--background-light-secondary);
  box-shadow: 0 0 10px var(--background-light-tertiary);
}
.create-form-input-dark:focus {
  outline: none !important;
  border: 1px solid var(--background-dark-tertiary);
  box-shadow: 0 0 10px var(--background-dark-tertiary);
}

.create-form-submit {
  align-self: start;
  margin-left: 5%;
  width: calc(((90% / 2)) - 10px);
  height: 40px;
  background-color: transparent;
  border-radius: 3px;
  cursor: pointer;
}
.create-form-submit-light {
  color: var(--typography-light);
  border: 1.5px solid var(--typography-light);
}
.create-form-submit-dark {
  color: var(--typography-dark);
  border: 1.5px solid var(--typography-dark);
}

@media (max-width: 768px) {
  .create-form-submit {
    align-self: center;
    margin: 0px;
    width: 90%;
  }
}
